{% load static %}
<!--============================= POPULAR =============================-->
    <div class="popular-link-set gray">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="popular-link-wrap">
                        <p>Наши партнеры</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="popular-links">
                        <ul class="d-flex flex-wrap justify-content-md-around">
                            <li>
                                <a href="https://premierliga.ru/">
                                    <img src="{% static 'images/brands/rpl.png' %}" alt="Российская премьер лига">
                                </a>
                            </li>
                            <li><a href="https://rfs.ru/">
                                <img src="{% static 'images/brands/rfs.png' %}" alt="Российский футбольный союз">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.fclm.ru/ru/">
                                    <img src="{% static 'images/brands/loko.png' %}" alt="ФК ЛОКОМОТИВ">
                                </a></li>
                            <li>
                                <a href="http://fckazanka.ru/">
                                   <img src="{% static 'images/brands/kazanka_0.jpg' %}" alt="ФК 'Казанка'">
                                </a>
                            </li>
                            <li>
                                <a href="https://ponominalu.ru/">
                                    <img style="max-width: 120px" src="{% static 'images/brands/shareLogo.jpg' %}"
                                    alt="ponominalu.ru">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--//END POPULAR -->