{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!--============================= BOOKING =============================-->
    <div>
        <!-- Swiper -->
        <div class="swiper-container">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <a href="../../../static/images/media_match_1.jpg" class="grid image-link">
                        <img src="../../../static/images/media_match_1.jpg" class="img-fluid" alt="#">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="../../../static/images/test.jpg" class="grid image-link">
                        <img src="../../../static/images/test.jpg" class="img-fluid" alt="#">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="../../../static/images/media_match_1.jpg" class="grid image-link">
                        <img src="../../../static/images/media_match_1.jpg" class="img-fluid" alt="#">
                    </a>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination swiper-pagination-white"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
        </div>
    </div>
    <!--//END BOOKING -->
    <!--============================= RESERVE A SEAT =============================-->
    <section class="reserve-block">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h5>Стюард</h5>
                    <p><span></span></p>
                    <p class="reserve-description">Распорядитель при входе в люки, на переходных калитках с сектора на сектор.</p>
                </div>
                <div class="col-md-6">
                    <div class="reserve-seat-block">
                        <div class="reserve-btn">
                            <div class="featured-btn-wrap">
                                <a href="#" class="btn btn-danger">Подать анкету</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//END RESERVE A SEAT -->
    <!--============================= BOOKING DETAILS =============================-->
    <section class="gray-dark booking-details_wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-8 responsive-wrap">
                    <div class="booking-checkbox_wrap">
                        <div class="booking-checkbox">
                             <h5>Распорядители(стюарды) осуществляют следующую деятельность:</h5>
                             <br>
                                - проверку билетов, абонементов и аккредитаций, в том числе их подлинность;
                                <br>
                                - ориентируют зрителей по трибуне в соответствии с билетами;
                                <br>
                                - не допускают скопления людей в проходах;
                                <br>
                                - не допускают переполнения секторов;
                                <br>
                                - обеспечивают беспрепятственную эвакуацию зрителей;
                                <br>
                                - оказывают зрителям помощь при занятии (поиске) своих мест;
                                <br>
                                - осуществлять контроль прохода через калитку;
                                <br>
                                - контролировать поведение зрителей в течение всего матча.
                            <hr>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label class="custom-checkbox">
                                    <span class="ti-check-box"></span>
                                    <span class="custom-control-description">проверка билетов</span>
                                </label>
                                <label class="custom-checkbox">
                                   <span class="ti-check-box"></span>
                                   <span class="custom-control-description">помощь зрителям</span>
                                 </label>
                            </div>
                            <div class="col-md-6">
                                <label class="custom-checkbox">
                                     <span class="ti-check-box"></span>
                                     <span class="custom-control-description">обеспечение безопасности</span>
                                </label>
                                    <label class="custom-checkbox">
                                        <span class="ti-check-box"></span>
                                        <span class="custom-control-description">контроль прохода</span>
                                </label>
                            </div>
                            <div class="col-md-6">
                                <label class="custom-checkbox">
                                     <span class="ti-check-box"></span>
                                     <span class="custom-control-description">достойная оплата</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
                <div class="col-md-4 responsive-wrap">
                    <div class="contact-info">
                        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ac4f51313a51da838a3c014c961bc22b6f885fca3eb99900a14c80846f0e1f319&amp;width=100%25&amp;height=450&amp;lang=ru_RU&amp;scroll=true"></script>
                        <div class="address">
                            <span class="icon-location-pin"></span>
                            <p> Стадион "Локомотив"<br> м. Черкизовская <br> мцк "Локомотив"</p>
                        </div>
                        <div class="address">
                            <span class="icon-screen-smartphone"></span>
                            <p> 8-925-898-47-858</p>
                        </div>
                        <div class="address">
                            <span class="icon-clock"></span>
                            <p>Пон - Пят 10:00 - 19:00 pm </p>
                        </div>
                        <a href="#" class="btn btn-outline-danger btn-contact">Связаться с нами</a>
                    </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//END BOOKING DETAILS -->

{% endblock content %}

    <script src="{% static 'js/swiper.min.js' %}"></script>
    <script>
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 3,
            slidesPerGroup: 3,
            loop: true,
            loopFillGroupWithBlank: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    </script>
    <script>
        if ($('.image-link').length) {
            $('.image-link').magnificPopup({
                type: 'image',
                gallery: {
                    enabled: true
                }
            });
        }
        if ($('.image-link2').length) {
            $('.image-link2').magnificPopup({
                type: 'image',
                gallery: {
                    enabled: true
                }
            });
        }
    </script>
